<section id='footer'>
    <div class="contact-wrapper py-4">
        <div class="container">
            <div class="row d-flex justify-content-between py-2">
                <div class="contact-left col-md-6 col-11">
                    <h5 class="mb-3">Subscribe to our website via Email</h5>
                    <input class="form-control input-lg no-border w-75" id="email" type="email" placeholder="Email" required>
                    <button class="btn mt-3">Subscribe</button>
                </div>
            
                <div class="col-md-6 col-11 mt-3 contact-right d-flex justify-content-around">
                    <div  class="col-md-4">  
                        <ul>
                            <li class="list-unstyled"><a href="" >Lorem</a></li>
                            <li class="list-unstyled"><a href="">Lorem</a></li>
                            <li class="list-unstyled"><a href="">Lorem</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li class="list-unstyled"><a href="" >Contact</a></li>
                            <li class="list-unstyled"><a href="" >Lorem</a></li>
                            <li class="list-unstyled"><a href="" >Lorem</a></li>
                            <li class="list-unstyled"><a href="" >Lorem</a></li>
                            <li class="list-unstyled"><a href="" >Lorem</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li class="list-unstyled"><a href="">Lorem.</a></li>
                            <li class="list-unstyled"><a href="">Lorem</a></li>
                            <li class="list-unstyled"><a href="">Lorem</a></li>
                            <li class="list-unstyled"><a href="">Lorem</a></li>
                            <li class="list-unstyled"><a href="">Lorem</a></li>
                            <li class="list-unstyled"><a href="">Lorem</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="social-wrapper"> 
            <div class="container">
                <div class="social-logo d-flex justify-content-between py-2">
                    <div class="social-icons">
                        <i class="fab fa-facebook mr-3"></i>
                        <i class="fab fa-twitter mr-3"></i>
                        <i class="fab fa-instagram "></i>
                    </div>
                    <div class="logo">
                        <h5>Your Doctor</h5>
                    </div>
                </div>
            </div>
        </div>
</section>