<section id=drugs>
    <div class="container">

        <div class="drug my-5 text-center">
            <h2 class="mb-5">Drug List From [A-Z]</h2>
            <div class="alphabet d-flex justify-content-around flex-wrap">
                <div *ngFor='let i of alphbet ' class="mb-4 mr-2">
                    <a class="px-2 py-1 " routerLink='/diseases' (click)="compareChar(this.i)">{{i}}</a>
                </div>
            </div>
        </div>
        
        <div class="drugName" *ngFor="let name of DrugNames">
            <h5 class="p-3">{{name.medicine_name}}</h5>
        </div>
        
    </div>
</section>


