<section id="home">
    <div class="home-details d-flex align-items-center">
        <div class="home-title">
            <h1>Your Doctor</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia accusantium fugiat sequi dolorum itaque asperiores consequatur aut eligendi tenetur commodi deserunt cupiditate laborum id sed amet, exercitationem enim animi quae.</p>
            <a href="" class="btn">Start Check</a>
        </div>
    </div>
</section>





<section id="ourTips" class="ourTips">

    <div class="container">
        <div class="row">
            <div class="col-m-12 col-sm-12 ">
                <div class="tittle py-2">
                <h3>Our Special Tips</h3>
                <div class="border"></div>
                <p>Explore some of the best tips from around the world from our partners and friends. Discover some of the most popular listings!

                </p>
                </div>
            </div>
        </div>
    </div>

    <div class="ourplan p-3">

        <div class="container">
            <div class="row">

                <div class="col-md-4 col-ms-12">
                    <div class="plan">
                       <img class="w-100" src="../../assets/images/drugs.jpeg">
                       <div class="overlay"></div>
                       <div class="contain">
                        <h5>  For the safety of your health</h5>
                        <div class="border"></div>
                        <h3>Drugs</h3>
                        <p>
                            General explanation about dealing with the medicine: how to take the medicine, the doses and times of it, the start and duration of its effectiveness, the diet during the period of taking the medicine, the method of storage and storage, and you need in cases of forgetting the dose and instructions to stop taking the drug and taking additional doses.

                        </p>
                        <button class="seemore">see more
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                    </div>
                    
                </div>

                <div class="col-md-4 col-ms-12">
                    <div class="plan">
                       <img class="w-100" src="../../assets/images/rsz_1health&beuty22.jpg">
                       <div class="overlay"></div>
                       <div class="contain">
                        <h5>  For the safety of your health</h5>
                        <div class="border"></div>
                        <h3>Health&beauty</h3>
                        <p>
                            General explanation about dealing with the medicine: how to take the medicine, the doses and times of it, the start and duration of its effectiveness, the diet during the period of taking the medicine, the method of storage and storage, and you need in cases of forgetting the dose and instructions to stop taking the drug and taking additional doses.

                        </p>
                        <button class="seemore">see more
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                    </div>
                    
                </div>

                <div class="col-md-4 col-ms-12">
                    <div class="plan">
                       <img class="w-100" src="../../assets/images/disease.jpeg">
                       <div class="overlay"></div>
                       <div class="contain">
                        <h5>  For the safety of your health</h5>
                        <div class="border"></div>
                        <h3>Diseases</h3>
                        <p>
                            General explanation about dealing with the medicine: how to take the medicine, the doses and times of it, the start and duration of its effectiveness, the diet during the period of taking the medicine, the method of storage and storage, and you need in cases of forgetting the dose and instructions to stop taking the drug and taking additional doses.

                        </p>
                        <button class="seemore">see more
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                    </div>
                    
                </div>


               


            </div>
        </div>

    </div>
  </section>



  <section id="service" class="service">


    <div class="container">
        <div class="row">
            <div class="col-m-12 col-sm-12 ">
                <div class="tittle py-2">
                <h3>Health Service</h3>
                <div class="border"></div>
                <p>The New Standards of Healthcare

                </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">

        <div class="row">

            <div class="col-md-4 col-sm-12">
                <div class="bigbox">
                    <div class="box">
                    <i class="fas fa-clinic-medical"></i></div>
                    <h3>Emergency Help</h3>
                    <p>Allergy shots and immunotherapy body type cornea epidermis</p>
                </div>
            </div>


            <div class="col-md-4 col-sm-12">
                <div class="bigbox">
                    <div class="box">
                        <i class="fas fa-heartbeat"></i></div>
                    <h3>Center Treatment</h3>
                    <p>Excepteur sint occaecat cupidatat non proi dent, sunt in culpa qui officia</p>
                </div>
            </div>



            <div class="col-md-4 col-sm-12">
                <div class="bigbox">
                    <div class="box">
                        <i class="fas fa-heartbeat"></i></div>
                    <h3>Mobile Healthcare</h3>
                    <p>Amputate asthma action plan blackhead bronchoconstriction dietitian</p>
                </div>
            </div>


        </div>




        <div class="row">

            <div class="col-md-4 col-sm-12">
                <div class="bigbox">
                    <div class="box">
                        <i class="fas fa-heartbeat"></i></div>
                    <h3>Full Life Support</h3>
                    <p>Airway obstruction bolus bronchoconstriction chromosomes corticosteroids</p>
                </div>
            </div>


            <div class="col-md-4 col-sm-12">
                <div class="bigbox">
                    <div class="box">
                        <i class="fas fa-heartbeat"></i></div>
                    <h3>Modern Equipments</h3>
                    <p>Autoimmunity blood glucose meter bruise constipation diaphragm dna emotions</p>
                </div>
            </div>



            <div class="col-md-4 col-sm-12">
                <div class="bigbox">
                    <div class="box">
                        <i class="fas fa-heartbeat"></i></div>
                    <h3>Medication Support</h3>
                    <p>Cardiologist gastric juices genetics insulin insulin resistance keratin neuropathy</p>
                </div>
            </div>


          
          


            
          





        </div>



    </div>

  </section>



  <section id="about" class="about">


    <div class="container">
        <div class="row">
            <div class="col-m-12 col-sm-12 ">
                <div class="tittle py-2">
                <h3>About Us ..</h3>
                <div class="border"></div>
                <p>The New Standards of Healthcare

                </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="pic">
            <div class="col-md-5 col-ms-12">
                <img src="../../assets/images/image-about.png">
            </div>
            </div>

            <div class="col-md-7 col-ms-12">
                <div class="contant">
                    <h3>
                        MEDICARE CARING SYSTEM INTERACTIONS BRING BETTER RESULT</h3>
                        <div class="border"></div>
                    <p>The AMA is an organization that promotes the art and science of medicine and the betterment of public health. Although the AMA supports the principles of competent, compassionate, ethical care and excellent patient-physician communication, we are not an organization that is authorized to review specific complaints about care.
                        Complaints about hospitals should be directed to the Joint Commission, which accredits hospitals throughout the United States.
                    </p>
                    <div class="icons">
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span> It’s like family here in our clinic.</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span> Everybody treats patients like they are sisters, brothers.</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span> When one is in distress, everybody are rush to help.</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span> Everybody treats patients like they are sisters, brothers.</li>
                          </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </section>
