$blueColor:#00B8FF;
$softBlueColor:#88d4f1;
$whiteColor:#fff;

#home{
    height: 100vh;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../../../src/assets/images/h1-slider-image-1.jpg ');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .home-details{
        width: 500px;
        height: 80%;
        margin-left: 4rem;
        p{
            color:$whiteColor;
        }
        a{
            background-color: $blueColor;
            color:$whiteColor;
            
                &:hover{
                    background-color:$softBlueColor;
                    
                }
            }
        }
    }



@media screen and (max-width: 850px){
    #home{
        .home-details{
            width: 100%;
            height: 80%;
            margin-left: 1rem;
        }
    }
}